*.kl
*.o
zincvm
zincdec
zinctest
*.csexp
/tmp/
core.*
zincvm-debug
zinctest-debug
zinctest-asan
# cosmocc intermediate build products (Makefile extracts the .com.dbg ELF)
*.ape
*.ape.com.dbg
*.ape.aarch64.elf
*.com.dbg
*.aarch64.elf
*.aarch64
